@use 'base/variables' as v;
@use 'base/mixins' as m;
.boton-rojo-block{
    display: block;
    width: 8rem;
    background-color: v.$rojo;
    color: v.$blanco;
    border: none;
    border-radius: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
}

.boton-amarillo-block{
    display: block;
    width: 10rem;
    line-height: 5rem;
    background-color: v.$amarillo;
    border-radius: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
}

.boton-azul{
    display: block;
    width: 10rem;
    background-color: v.$azul;
    color: v.$blanco;
    border: none;
    border-radius: 3rem;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer; 
    margin-bottom: 2rem;
}

.boton-div{
    width: 80rem;
}


.boton-container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;

    input[type=submit] {
        width: 100%;
    }
}

.boton-enviar{
    display: block;
    width: 100%;
    background-color: v.$azul;
    padding: .7rem;
    text-transform: uppercase;
    cursor: pointer;
    color: v.$blanco;
    font-weight: 700;
    border: none;
    border-radius: 1rem;
}

@include m.desktop(){
    .boton-div{
        width: 90%
    }
}